div.hero-div {
    --pad-x: 0.9;
    --pad-y: 1.5;
    --width: 18;
    --height: var(--pad-y) * 6;
}

div.hero-div div.cool_backdrop_background {
    clip-path: polygon(
        0% calc(var(--pad-y) * 1%),
        calc(var(--pad-x) * 1%) 0%,
        calc((var(--width)) * 1%) 0%,
        calc((100 - var(--pad-x)) * 1%) 0%,
        100% calc(var(--pad-y) * 1%),
        100% calc((100 - var(--pad-y)) * 1%),
        calc((100 - var(--pad-x)) * 1%) 100%,
        calc(var(--pad-x) * 1%) 100%,
        0% calc((100 - var(--pad-y)) * 1%)
    );
}

div.hero-div div.drop_2 {
    clip-path: polygon(
        0% calc(var(--pad-y) * 1%),
        calc(var(--pad-x) * 1%) 0%,
        calc(var(--width) * 1%) 0%,
        calc(var(--width) * 1%) calc(var(--height) * 1%),
        0% calc(var(--height) * 1%)
    );
}

div.hero-div div.drop_3 {
    clip-path: polygon(
        0% calc(var(--pad-y) * 1%),
        calc(var(--pad-x) * 1%) 0%,
        calc((var(--width) - 0.2) * 1%) 0%,
        calc((var(--width) - var(--pad-x)) * 1%) calc(var(--pad-y) * 1%),
        calc((var(--width) - var(--pad-x)) * 1%) calc((var(--height) - (var(--pad-y) * 2)) * 1%),
        calc((var(--width) - (var(--pad-x) * 2)) * 1%) calc((var(--height) - var(--pad-y)) * 1%),
        calc((var(--pad-x)) * 1%) calc((var(--height) - var(--pad-y) - 0.8) * 1%),
        0% calc((var(--height) - 0.8) * 1%)
    );
}