@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-black-10: hsl(0, 0%, 7%);
    --color-black-20: hsl(0, 0%, 10%);
    --color-black-30: hsl(0, 0%, 15%);
    
    --font-montserrat: "Montserrat" , sans-serif;
    --font-firaCode: "Fira Code" , sans-serif;
}